<template name='Header'>
    <header>
        <div class='banner'>
            <div class='svg-box'>
                 <svg width="33.33333%" height="33.33333%" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
        
                  <path d="M 200 80 L 400 120 L 360 280 L 40 280 L 0 120 Z" fill="orange" stroke="black" stroke-width="0" />
                  <path d="M 200 95 L 383 132 L 347 267 L 53 267 L 17 132 Z" fill="yellow" stroke="black" stroke-width="0" />
                  <text x="50" y="200" font-family="Goblin One" font-size="3.3em" fill='red'>>RecipesS</text>  
                </svg>
            </div>
              <div class='login'>
                  {{> loginButtons}}
              </div>
        </div>

    </header>
</template>