<template name='SideNav'>
     
    <nav class='side-navigation col-md-3 hidden-xs hidden-sm'>
        <ul class='col-xs-10 offset-s1'>
            <li>
                <a href='/recipe-book'><i class='fa fa-list' aria-hidden="true"></i>Recipe Book</a>
            </li>
            <li>
                <a href='/menu'><i class='fa fa-map-o' aria-hidden="true"></i>Menu</a>
            </li>
            <li>
                <a href='/shopping-list'><i class='fa fa-shopping-cart' aria-hidden="true"></i>Shopping List</a>
            </li>
                        <li>
                <a href='/organizations'><i class="fa fa-sitemap" aria-hidden="true"></i>Organizations</a>
            </li>
        </ul>
    </nav>
</template>