<template name='SmallNav'>
        <nav class='small-navigation hidden-md hidden-lg'>
        <ul class='col-xs-6 col-xs-offset-3'>
            <li class=''>
                <a href='/recipe-book'><i class='fa fa-list' aria-hidden="true"></i></a>
            </li>
            <li class=''>
                <a href='/menu'><i class='fa fa-map-o' aria-hidden="true"></i></a>
            </li>
            <li class=''>
                <a href='/shopping-list'><i class='fa fa-shopping-cart' aria-hidden="true"></i></a>
            </li>
            <!--<li class=''>-->
            <!--    <a href='/organizations'><i class="fa fa-sitemap" aria-hidden="true"></i></a>-->
            <!--</li>-->
        </ul>
    </nav>
</template>