@import url('https://fonts.googleapis.com/css?family=Faster+One|Goblin+One|Varela+Round');
$sign-font: 'Goblin One';
$base-color: lightbrown;
$background-color: #fafafa;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.banner {
  background: darkgreen;
  margin-top: -20px;
}

.main-layout {
  font-family: 'Varela Round';
}
.sign-border {
  -webkit-clip-path: polygon(50% 20%, 100% 30%, 90% 70%, 51% 79%, 10% 70%, 0 30%);
  clip-path: polygon(50% 20%, 100% 30%, 90% 70%, 51% 79%, 10% 70%, 0 30%);
  background: orange;
  height: 13em;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sign {
  -webkit-clip-path: polygon(50% 20%, 100% 30%, 90% 70%, 51% 79%, 10% 70%, 0 30%);
  clip-path: polygon(50% 20%, 100% 30%, 90% 70%, 51% 79%, 10% 70%, 0 30%);
  position: relative;
  top: .5em;
  background: yellow;
  height: 12em;
  width: 24em;
  margin-left: auto;
  margin-right: auto;
}

.login a{
  color: #fff;
  margin: .5em;
}

.sign-main-text {
  background: transparent;
  font-size: 3.45em;
  padding: 1.15em .5em;
  font-family: $sign-font;
  color: red;
}

h1{
  text-align:center;
}
.small-navigation {
    display: inline;
}
.small-navigation ul {
   margin-left: 33.3333%;
}

.small-navigation li {
    display: inline-block;
    background: darkgreen;
    border-radius: 50%;
    height: 4em;
    width: 4em;
        margin-top: .5em;
    
}
.small-navigation li a {
  color:#fff;
  font-size: 2em;
  padding-left: .5em;
  text-align: center;
}
.small-navigation li a i{
  padding-top: .5em;
}

ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
}
.main-content{
  background:#fff;
}
button.new-recipe {
  margin-top:1em;
  margin-bottom: 1em;
}
.panel {
  border-color: #f0f0f0;
  border-top: 4px solid orange;
  margin-top: 1.5em;
  position: relative;
}
.panel h3, h4 {
  font-style: italic;
  font-weight: 700;
}
.organization-panel-title {
  text-align:center;
}
.btn-group {
  position: relative;
  text-align: center;
  padding:1.5em;
}
.recipein-menu, .single-recipe-panel {
  border-top: 4px solid green;
}
.recipe {
  border-top: 4px solid yellow;
}
.single-recipe-panel {
  margin-top: 1em;
}
.ingredient-list-card li {
  display: block;
}

.ingredient-name-card {
  margin-left: 1em;
}

.ingredient-amount-card {
  float: right;
  margin-right: 1em;
}

.details-btn {
  margin: .25em 25%;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .login {
    padding: 2em;
    font-size: 1.25em;
}
  .side-navigation {
  display: block;
  background: darkgreen;
  height: 100vh;
  margin-top: -1.5em;
}
.side-navigation ul {
  position: fixed;
}

.side-navigation li {
  float:none;
  font-size: 1.5em;
  padding:.75em;
  
}
.side-navigation li a{
  color: #fff;
}
.side-navigation li a i{
  padding: .5em;
}
.add-item{
  padding-top: 1.5em;
}
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }